<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for i in f %}
    <tbody>
        <tr>
            <td>{{i.e_id}}</td>
            <td>{{i.ename}}</td>
            <td>{{i.emp_dep}}</td>
            <td>{{i.emp_salary}}</td>
        </tr>
        <tr>
        <a href="{% url 'ls' %}">Add</a>
        <a href="{% url 'edit' i.id %}">Edit</a>
        <a href="{% url 'del' i.id %}">Delete</a>
        <a href="{% url 'view' i.id %}">View</a>
        </tr>
        {% endfor %}
    </tbody>
</body>
</html>