{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis reiciendis, sapiente possimus quos totam dignissimos magnam molestias praesentium, odit eligendi maiores corporis ullam officiis hic, cum doloremque dolorem aperiam debitis?</p>
    <img src="{%static 'images/i1.jpg' %}" alt="img">
</body>
</html>