{% extends "home3.html" %} 
{% block content %} 
 <!DOCTYPE html> 
<html> 
<head> 
<title>Book Details</title> 
<body> 
<div class="container-fluid"> 
<table border= "1px solid black"> 
<tr> 
<th>Title</th> 
<th>Author</th> 
<th>PDF</th> 
</tr> 
{% for row in rows %} 
<tr> 
<td>{{row['name']}}</td> 
<td>{{row['author']}}</td> 
<td><a 
href="{{url_for('uploaded_file',f=row['pdf'])}}">link</a></t
d>
<td><img src="{{url_for('uploaded_file',f=row['pdf'])}}" 
width="250" height="250"></td> 
</tr> 
{% endfor %} 
</table> 
</div> 
<a href='/'>Go back to home page</a> 
</body> 
</html> 
{% endblock %}