<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    {% extends "base.html" %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/b.css' %}">
    {% block body_block %}
    <h1>Signup</h1>
    <form method="post">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="SignUp1">
    </form>
    {% endblock %}
</body>
</html>